{% assign skills = site.data.data.skill_bullet %} 
{% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <ul class="skillset">
    {% for skill in skills.toolset %}
    <li class="item">
      <strong>{{ skill.name }}:</strong> {{ skill.description }}
    </li>
    {% endfor %}
  </ul>
</section>
<!--//skills-section-->
{% endif %}
